:root {
    --main-color: #f24e28;
    --second-color: #ebeff2;
    --text-color: #02171d;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

.Inicio {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: center;
    gap: 1.5rem;
    background: var(--second-color);
}

.Inicio-Texto span {
    font-weight: 600;
    text-transform: uppercase;
}

.Inicio-Texto h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
}

/* SECCION NUEVOS PRODUCTOS */

.Encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Articulos {
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
}

.list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
}

.list .Imagenes img{
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.list .Imagenes {
    background-image: linear-gradient(to top right, #B6BBC4, #F0ECE5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.list .Info-Producto {
    background-color: #ffffff24;
    border-radius: 30px;
    padding: 50px 30px;
    transform: translate(0, -50px);
    backdrop-filter: blur(20px);
    color: var(--text-color);
}

.Nombre-Producto {
    font-size: x-large;
}

.Producto .Info-Producto .Descripcion {
    opacity: .7;
    margin: 10px 0;
}

.Producto .Info-Producto .Precio {
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.Producto .Info-Producto .Agregar{
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.Producto .Info-Producto .Agregar:hover{
    background: var(--text-color);
}

.Nuevo .Articulos .Producto:hover img {
    transform: translate(0, -50px);
}

.Encabezado .Menu li {
    cursor: pointer;
    transition: color 0.3s;  /* Agrega transición para suavizar el cambio de color */
}

.Encabezado .Menu li:hover {
    color: var(--main-color);  /* Cambia a tu color hover deseado */
}

@media(max-width: 960px) {
    .Articulos .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Articulos .list .Producto{
        width: 70%;

    }
    .Articulos .list .Producto img{
        width: 190px;
        height: 180px;
    }
}

@media(max-width: 620px) {
    .list .Info-Producto{
        margin-top: 10px;
    }

    .Articulos .list .Producto img{
        width: 150px;
        height: 150px;
    }
}